/*@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);*/
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);

body {
    padding-top: 70px;
    background: #222222 url("http://ppgym.altervista.org/img/back_texture.png") repeat fixed center;
    color: #FDFDFD;
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Titillium Web', sans-serif;
}

td:hover{
    background-color: #343034;
}
.well{
    background-color: transparent;
    border: none;
}
small{
    font-weight: lighter;
}
a{
    color: #D11027;
}
a:hover{
    color: #D11027;
}

.navbar-default {
    font-weight: 700;
    background-color: #111111;
    border-color: #D11027;
}
.navbar-default .navbar-nav > li > a {
    color: #FDFDFD;
    text-shadow: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #D11027;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FDFDFD;
    background-color: #D11027;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #D11027;
}
.navbar-default .navbar-toggle:focus{
    background-color: #111111;
}
.navbar-default .navbar-toggle:hover{
    background-color: #292929;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #D11027;
}

h1 h2 h3 h4 h5 h6{
    color: #D11027 !important;
}

.nav-tabs{
    border: #D11027;
    color: #141414;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #D11027;
    cursor: default;
    background-color: #141414;
    border: #D11027;
}
.nav-tabs > li > a {
    border: #D11027;
    color: #141414;
    background-color: #D11027;
}
.nav-tabs > li > a:hover{
    background-color: #FDFDFD;
}


.title{
    font-weight: 700;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #D11027;
}
.title:hover{
    color: #FDFDFD;
}
.page-title{
    color: #D11027;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn{
    background-color: black;
    color: #FDFDFD;
}

.btn:hover{
    background-color: #141414;
    color: #FDFDFD;
}
.btn.active{
    color:black;
    background-color: #D11027;
}
.btn-default.active{
    color:black;
    background-color: #D11027;
}
.pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    color: black;
    background-color: #D11027;
}
.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: #FDFDFD;
}
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: black;
}

.panel{
    background-color: #141414;
    border-color: #D11027;
    padding: 2%;
}

.logo{
    min-width: 100px;
    max-height: 200%;
    margin-top: -10px;
}

.timeline-badge.info {
    background-color: #D11027 !important;
}

.timeline > li > .timeline-panel{
    word-wrap: break-word;
}

.well blockquote{
    border-left-color: #FDFDFD;
}


#map {
    width: 100%;
    min-height: 400px;
    height: 100%;
}

.scroll {
    height: 100%;
}

.timeline-panel{

    background: #141414 url("http://ppgym.altervista.org/img/timeline_texture.png") repeat fixed center;
}

.adp-substep{
    color: white;
}
.adp-summary{
    color:white;
}
